div.image-container {
    display: flex;
}

div.image {
    width: 250px;
}

div.image img {
    width: 100%;
}

.btn {
    cursor: pointer;
}

.ingredient-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oi-circle-x {
    width: 17px;
    color: #e74c3c;
    margin-left: 10px;
    cursor: pointer;
}

#addIngredient, #addStep {
    margin-bottom: 30px;
}