.ingredient-step-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span.oi-circle-x {
    width: 17px;
    color: #e74c3c;
    margin-left: 10px;
    cursor: pointer;
}

#addIngredient, addStep {
    margin-bottom: 20px;
}

div.btn {
    cursor: pointer;
}

span.step-counter {
    margin-right: 10px;
}

#spinner {
    display: none;
    justify-content: center;
    align-items: center;
}

#spinner img {
    max-width: 80vw;
}