.ingredient-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.oi-circle-x {
    width: 17px;
    color: #e74c3c;
    margin-left: 10px;
    cursor: pointer;
}

div.btn {
    cursor: pointer;
}

span.step-counter {
    margin-right: 10px;
}

#spinner {
    display: none;
    justify-content: center;
    align-items: center;
}

#spinner img {
    width: 80vw;
    max-width: 200px;
}

label.custom-file-label {
    cursor: pointer;
}

#addIngredient, #addStep {
    margin-bottom: 30px;
}