
@{
    ViewData["Title"] = "Add A Recipe";
}


<h1>How would you like to add the recipe?</h1>

<a asp-action="ParseURL" class="btn btn-lg btn-light">Automatically add from another website</a> 
<a asp-action="ManuallyAddRecipe" class="btn btn-lg btn-light">Type in the recipe by hand</a>