@model WebsiteRequest
@{
    ViewData["Title"] = "Website Request Added";
}

<h1>Website Request Added</h1>

<p>Unfortunately Let's Eat does not currently support importing from @Model.BaseURL. A request has been sent to the administrator to add support for this website.</p>

<p>If you would like to manually import the recipe, click <a asp-action="AddRecipe">here.</a></p>