@using LetsEat.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form class="col-lg-4" asp-controller="account" asp-action="register" method="post">
    <div class="form-group">
        <label asp-for="DisplayName"></label>
        <input class="form-control" type="text" asp-for="DisplayName" />
        <span asp-validation-for="DisplayName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmEmail"></label>
        <input class="form-control" type="email" asp-for="ConfirmEmail" />
        <span asp-validation-for="ConfirmEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input class="form-control" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="submit" value="Register" class="btn btn-primary" />

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}