
@{
    ViewData["Title"] = "NotInFamily";
}

<h2>Hey there, looks like you're not in a family yet.</h2>

<p>Don't worry, let's fix that. You can either <a asp-action="Create" asp-controller="Family">Create a family</a> or you can ask someone (in real life) to invite you to their family.</p>