<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div *ngIf="imageUrl" class="card-image">
      <a routerLink="/recipe-book/recipe/{{id}}">
        <img src="{{ imageUrl }}">
      </a>
    </div>
    <div class="card-content">

      <a routerLink="/recipe-book/recipe/{{id}}">
        <span class="card-title">
          <span class="new badge" data-badge-caption="">{{ totalTime }}</span>
            {{ name }}
        </span>
      </a>      
      <p class="fixed">
        {{ description }}
      </p>

      <span class="right">Added by: {{ userName }}</span>

    </div>
    <div class="card-action">

      <a routerLink="/recipe-book/recipe/{{id}}">View Recipe</a>

    </div>
  </div>
</div>