
@{
    ViewData["Title"] = "FamilyNeedsALeader";
}

<h1>Hold up!</h1>

<p>You're trying to leave your current family, no judgement here, but there's just a little problem. You're currently the only leader of your family, so if you leave there will be no one to left in charge. Please <a asp-action="Index">go back</a> to your family and promote another member to leader before you leave.</p>