@model LetsEat.Models.FamilyViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>@Model.Family.Name Family</h3>
    <hr />
    <ul>
        @foreach (User user in Model.Family.Members)
        {
            <li>
                @user.DisplayName - @user.FamilyRole
                @if(user.Id != Model.CurrentUser.Id)
                {
                    <span> - </span><a href="#">Change Family Role</a>
                }
            </li>
        }
    </ul>

    @if (Model.CurrentUser.FamilyRole == "Leader")
    {
        <a asp-action="AddMember">Add a member to your family</a>
    }
</div>
