@model LetsEat.Models.Family

@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>Family Members</h3>
    <hr />
    <ul>
        @foreach (User user in Model.Members)
        {
            <li>@user.DisplayName - @user.FamilyRole</li>
        }
    </ul>
</div>
