<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngFor="let link of navLinks">
        <a routerLink="{{link.route}}">{{ link.text }}</a>
      </li>

      <li *ngIf="user">|</li>
      <li *ngIf="user">
        <a 
          routerLink="/user"
          [class.blue]="user.inviteRequest"
          [class.pulse]="user.inviteRequest">{{ user.displayName }}</a>
      </li>
      <li *ngIf="user?.isAdmin">
        <a routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngFor="let link of navLinks">
    <a routerLink="{{link.route}}">{{ link.text }}</a>
  </li>
</ul>