@{
    ViewData["Title"] = "Welcome";
}

<link href="~/css/index.css" rel="stylesheet" />

<div class="text-center title">
    <h1 class="display-2">Welcome</h1>
    <p class="text-black-50"><strong>Let's Eat!</strong> is the best way to collaborate with your family and friends on a shared collection of delicious recipes.</p>
</div>

<div>
    <h2 class="text-center display-4">How it works</h2>
    <div class="list">
        <p class="list-item">
            <strong class="text-info">Create an account</strong><br />
            By simply creating an account you unlock the ability to create custom recipes and import recipes from
            other websites.
        </p>
        <p class="list-item">
            <strong class="text-info">Create or join a family</strong><br />
            When you're in a family all of your recipes are automatically shared with the other members, and you 
            gain access to the entirety of the family's recipe book.
        </p>
        <p class="list-item">
            <strong class="text-info">Invite more people to your family</strong><br />
            The more members your family has the more recipes that will be available to you. When everyone has easy
            access to yummy recipes dinner will be delicious, no matter who's turn it is to cook!
        </p>
    </div>
</div>
