@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is a website that I created as a fun side project. It has no tracking, no ads and only store information
    that you enter (i.e. recipes).
</p>
