
@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<form>
    <input type="file" name="image" accept="image/*" />
</form>

<div class="btn btn-dark">Test</div>

<script src="~/js/Test.js"></script>
