<div class="box">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
 
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input 
          class="input"
          [class.is-danger]="!email.valid && email.touched"
          type="email"
          placeholder="Email"
          [formControl]="email"
        >
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right" *ngIf="!email.valid && email.touched">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <p class="help is-danger" *ngIf="!email.valid && email.touched">This email is invalid</p>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        [class.is-danger]="!password.valid && password.touched"
        type="password"
        placeholder="Password"
        [formControl]="password"
      >
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
      <span class="icon is-small is-right" *ngIf="!password.valid && password.touched">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger" *ngIf="!password.valid && password.touched">
      {{ passwordErrorMessage }}
    </p>
    </div>
 
    <button type="submit" class="button is-link">Login</button>  
  </form>  
</div>
